.idea/
.vscode/
env/
terraform/
src/__pycache__/
model/src/__pycache__/
.azureml
.config/
outputs/
solution/.azureml
solution/model/src/__pycache__/
solution/outputs/
data/new_skatteetaten.txt
.DS_Store